html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#screen {
    image-rendering: pixelated;
    display: block;
    width: 100%;
    height: 100%;
}